@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* *****PHONE***** */

@media (max-width: 480px) {
    .headerBar {
        display: none;
    }
        
    .banner p {
        padding: 20px 30px 20px 30px;
        text-align: center;
        font-size: 20px;
    }   

    .mobileBar {
        display: flex;
        padding: 30px 20px 20px 20px;
        align-items: center;

    }

    .logo {
        flex: 1;

    }

    .hamburgerMenu {
        flex: 1;
        display: flex;
        justify-content: flex-end;

    }

    #sidebar {
        display: none;
    }

    .headerBody {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }


    .headImgMob {
        width: 100%
    }

    .headImgTab {
        display: none;
    }

    .headImgDesk {
        display: none;
    }

    .headLeft {
        padding-top: 20px;
    }

    .bigText {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .smallText {
        padding-bottom: 15px;
    }

    .perk {
        padding-bottom: 6px;
    }

    .perk img {
        padding-right: 15px;
    }

    .perksList {
        padding-bottom: 15px;
    }

    #email {
        width: 150px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #a4a4a4;
    }

    #email::placeholder {
        padding-left: 10px;
        font-family: 'Cabin', sans-serif;
    }

    #submit {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: #000;
        color: #fff;
        font-family: 'Cabin', sans-serif;
    }


    /* *****SPOTLIGHT***** */

    .spotlight {
        flex-direction: column;
        padding: 50px 20px 10px 20px;
        
    }


    .compLogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .compLogo img {
        width: 100px;
        height: auto;
    }

    .pinterest,
    .twitter,
    .reddit,
    .google,
    .slack {
        display: none;
    }

    .mobHighlight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobHighlight .highlightLeft {
        padding: 30px 30px 0 30px;
        margin-bottom: 0;
    }

    .hlBigText {
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 20px;
        color: #1a1a1a;
    }
    
    .hlSmallText {
        color: #545454;
        font-size: 18px;
        line-height: 1.5;
        padding-bottom: 20px;
    }
    
    
    .escrowLink a {
        color: #545454;
        font-weight: 600;
        font-size: 18px;
    }


    .phoneMock {
        display: none;
    }

    .phoneMockMob {
        transform: translateY(3px);
    }

    


    .phoneMockTab {
        display: none;
    }

    .demoHighlight {
        flex-direction: column-reverse;
    }


    .textEd {
        width: 100%;
        margin: 0;
    }

    .demoBigText {
        padding: 30px 0 10px 0; 
        font-size: 32px;
    }

    .demoRight {
        padding-bottom: 30px;
    }

    /* *****FOOTER***** */

    .footer {
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .bio {
        padding: 50px 0 30px 0;
    }

    .bioHead {
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .bioText {
        font-size: 16px;
        line-height: 1.5;
        color: rgb(235, 225, 215);
    }

    .footLinks {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title {
        padding-bottom: 10px;
        font-size:20px;
        font-weight: 700;
    }

    .footLinks li {
        list-style: none;
        padding-bottom: 10px;
    }

    .footLinks a {
        text-decoration: none;
        color: rgb(235, 225, 215);
        font-size: 18px;
        
    }

    .blockOne {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 30px;
        
    }

    .blockTwo {
        display: flex;
        justify-content: space-between;
    }

    .linkList {
        width: 120px;
    }

}


/* *****TABLET***** */

@media (min-width: 481px) and (max-width: 1024px) {
    .headerBar {
        display: none;
    }
        
    .banner p {
        padding: 20px 60px 20px 60px;
        text-align: center;
        font-size: 20px;
    }   

    .mobileBar {
        display: flex;
        padding: 50px 50px 10px 50px;
        align-items: center;

    }

    .logo {
        flex: 1;

    }

    .hamburgerMenu {
        flex: 1;
        display: flex;
        justify-content: flex-end;

    }

    #sidebar {
        display: none;
    }

    .headerBody {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 50px 50px 50px 50px;
    }


    .headImgMob {
        display: none;
    }

    .headImgTab {
        width: 100%
    }

    .headImgDesk {
        display: none;
    }

    .headLeft {
        padding-top: 20px;
    }

    .bigText {
        font-size: 60px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .smallText {
        padding-bottom: 15px;
        font-size: 22px;
        padding-bottom: 20px;
    }

    .perk {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .perk img {
        padding-right: 15px;
    }

    .perksList {
        padding-bottom: 15px;
    }

    #email {
        width: 200px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid #a4a4a4;
    }

    #email::placeholder {
        padding-left: 15px;
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
    }

    #submit {
        width: 150px;
        height: 60px;
        border-radius: 5px;
        border: none;
        background-color: #000;
        color: #fff;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        margin-left: 10px;
    }


    /* *****SPOTLIGHT***** */

    .spotlight {
        flex-direction: column;
        padding: 50px 50px 10px 50px;
        
    }


    .compLogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .compLogo img {
        width: 100px;
        height: auto;
    }

    
    .reddit,
    .google,
    .slack {
        display: none;
    }

    .mobHighlight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .highlightText {
        padding: 100px 100px 0 100px;
    }

    .hlBigText {
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 20px;
        color: #1a1a1a;
    }
    
    .hlSmallText {
        color: #545454;
        font-size: 18px;
        line-height: 1.5;
        padding-bottom: 20px;
    }
    
    
    .escrowLink a {
        color: #545454;
        font-weight: 600;
        font-size: 18px;
    }



    .phoneMock {
        display: none;
    }

    .phoneMockMob {
        display: none;
    }

    


    .phoneMockTab {
        transform: translateY(3px);
        height: auto;
    }

    .demoHighlight {
        flex-direction: column-reverse;
    }


    .textEd {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .demoBigText {
        padding: 60px 0 10px 0;
        font-size: 42px;
    }

    .demoRight {
        padding-bottom: 30px;
    }

    /* *****FOOTER***** */

    .footer {
        flex-direction: column;
        padding: 0 50px 0 50px;
    }

    .bio {
        padding: 50px 0 30px 0;

    }

    .bioHead {
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .bioText {
        font-size: 16px;
        line-height: 1.5;
        color: rgb(235, 225, 215);
    }

    .footLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .title {
        padding-bottom: 10px;
        font-size:20px;
        font-weight: 700;
    }


    .footLinks li {
        list-style: none;
        padding-bottom: 10px;
    }

    .footLinks a {
        text-decoration: none;
        color: rgb(235, 225, 215);
        font-size: 18px;
        
    }

    .blockOne {
        display: flex;
        justify-content: space-between;
        
    }

    .blockTwo {
        display: flex;
        justify-content: space-between;
    }

    .linkList {
        width: 120px;
        padding-bottom: 30px;
    }
    
    
}

/* *****DESKTOP***** */


@media (min-width: 1025px) {

    .headerBar {
        display: flex;
        padding: 50px 150px 50px 150px;
    }
        
    .banner p {
        padding: 20px 130px 20px 130px;
        text-align: center;
        font-size: 15px;
    }   

    .mobileBar {
        display: none;

    }

    .headerBar .logo {
        flex: 1;
        font-size: 24px;

    }

    .navList {
        display: flex;
        flex: 1;
    }

    .navList li {
        list-style: none;
        padding: 20px;
    }

    .navList a {
        color: #545454;
        text-decoration: none;
        font-family: 'Cabin', sans-serif;
    }

    .hamburgerMenu {
        display: none;

    }

    #sidebar {
        display: none;
    }

    .headerBody {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 50px 50px 50px 50px;
    }


    .headImgMob {
        display: none;
    }

    .headImgTab {
        width: 100%
    }

    .headImgDesk {
        display: none;
    }

    .headLeft {
        padding-top: 20px;
    }

    .bigText {
        font-size: 60px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .smallText {
        padding-bottom: 15px;
        font-size: 22px;
        padding-bottom: 20px;
    }

    .perk {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .perk img {
        padding-right: 15px;
    }

    .perksList {
        padding-bottom: 15px;
    }

    #email {
        width: 200px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid #a4a4a4;
    }

    #email::placeholder {
        padding-left: 15px;
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
    }

    #submit {
        width: 150px;
        height: 60px;
        border-radius: 5px;
        border: none;
        background-color: #000;
        color: #fff;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
        margin-left: 10px;
    }


    /* *****SPOTLIGHT***** */

    .spotlight {
        flex-direction: column;
        padding: 50px 50px 10px 50px;
        
    }


    .compLogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .compLogo img {
        width: 100px;
        height: auto;
    }

    
    .reddit,
    .google,
    .slack {
        display: none;
    }

    .mobHighlight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .highlightText {
        padding: 100px 100px 0 100px;
    }

    .hlBigText {
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 20px;
        color: #1a1a1a;
    }
    
    .hlSmallText {
        color: #545454;
        font-size: 18px;
        line-height: 1.5;
        padding-bottom: 20px;
    }
    
    
    .escrowLink a {
        color: #545454;
        font-weight: 600;
        font-size: 18px;
    }



    .phoneMock {
        display: none;
    }

    .phoneMockMob {
        display: none;
    }

    


    .phoneMockTab {
        transform: translateY(3px);
        height: auto;
    }

    .demoHighlight {
        flex-direction: column-reverse;
    }


    .textEd {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .demoBigText {
        padding: 60px 0 10px 0;
        font-size: 42px;
    }

    .demoRight {
        padding-bottom: 30px;
    }

    /* *****FOOTER***** */

    .footer {
        flex-direction: column;
        padding: 0 50px 0 50px;
    }

    .bio {
        padding: 50px 0 30px 0;

    }

    .bioHead {
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .bioText {
        font-size: 16px;
        line-height: 1.5;
        color: rgb(235, 225, 215);
    }

    .footLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .title {
        padding-bottom: 10px;
        font-size:20px;
        font-weight: 700;
    }


    .footLinks li {
        list-style: none;
        padding-bottom: 10px;
    }

    .footLinks a {
        text-decoration: none;
        color: rgb(235, 225, 215);
        font-size: 18px;
        
    }

    .blockOne {
        display: flex;
        justify-content: space-between;
        
    }

    .blockTwo {
        display: flex;
        justify-content: space-between;
    }

    .linkList {
        width: 120px;
        padding-bottom: 30px;
    }


}



.flexContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-family: 'Cabin', sans-serif;
}


/* ***** BANNER ***** */

.banner {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Cabin', sans-serif;
}


/* ***** HEADER ***** */

.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 225, 215);
}

.logo {
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
}



.perk {
    list-style: none;
    display: flex;
    align-items: center;
    color: #545454;
    font-weight: 600;
}



.bigText {
    color:#1a1a1a;
}

.smallText {
    color: #545454;
}




/* ***** SPOTLIGHT ***** */

.spotlight {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.mobHighlight {
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(235, 225, 215);
    
    margin-top: 50px;
    display: flex;
}



.demoHighlight {
    display: flex;
}

.demoBigText {
    
    font-weight: 800;
    color: #1a1a1a;
}

.demoSmallText {
    font-size: 18px;
    color: #545454;
    line-height: 1.5;
    padding-bottom: 20px;
}

.editorLink a {
    color: #545454;
    font-weight: 600;
    font-size: 18px;
}

/* ***** FOOTER ***** */

.footer {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
}

